<% @shares.each do |share| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
  Company: <%= link_to share.company, share_path(share) %><br /><br />
  Ticker: <%= share.ticker %><br /><br />
  Volume: <%= share.volume %><br /><br />
  <% stock = StockQuote::Stock.quote(share.ticker) %>  
  Stock Price: <%= stock.ask %><br /><br />

  Value: <%= number_to_currency(share.volume*stock.ask, :unit => "$") %><br /><br />
  </div>  
<% end %>
<br class="clear" />

<div class="col-md-4 text-center">
  <%= link_to 'Add New Share', new_share_path, :class => "btn btn-primary btn-md"  %>
</div>