<div class="booyah-box col-xs-10 col-xs-offset-1">
  Company: <%= @share.company %><br /><br />
  Ticker: <%= @share.ticker %><br /><br />
  Volume: <%= @share.volume %><br /><br />

  <% stock = StockQuote::Stock.quote(@share.ticker) %>  
  Stock Price: <%= stock.ask %><br /><br />
  
  <%= link_to 'Edit', edit_share_path(@share), class: 'btn btn-primary' %>
  <%= link_to 'Destroy', share_path(@share), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
</div>