<div class="booyah-box col-xs-10 col-xs-offset-1">   
  
  <%= render 'summary' %>
  
  <%= form_tag overview_path, method: :put, id: 'slider_form', remote: true do %>
    <label for="overview_future_age">Age</label>
    <%= range_field(:overview, :future_age, 
       in: current_user.age..100,
       value: future_age,
       oninput: "outputUpdate(value)",
       step: 1
       )
    %>
    <output id="output_future_age"><%= future_age %></output>
  <% end %>

  <br /><br /><br />

  <%= link_to 'Manage Bank Accounts', bank_accounts_path, :class => "btn btn-primary btn-md col-xs-3" %>
  <%= link_to 'Manage Investments', '#', :class => "btn btn-primary btn-md col-xs-3" %>
  <%= link_to 'Manage Shares', shares_path, :class => "btn btn-primary btn-md col-xs-3" %>
  <%= link_to 'Manage Pension', '#', :class => "btn btn-primary btn-md col-xs-3" %>  
</div>