<div class="booyah-box col-xs-10 col-xs-offset-1">
  <% #calculate total of shares %>
  <% shares_total = 0 %>
  <% current_user.shares.each do |share| %>  
    <% stock = StockQuote::Stock.quote(share.ticker) %> 
    <% shares_total = shares_total + (share.volume*stock.ask).usd.to_eur %>
  <% end %>

  <% #display total %>
  Current value: <%= number_to_currency(current_user.bank_accounts.sum("amount") + shares_total, :unit => "€") %>
  <br />

  <% #iterate through bank accounts and total each, applying interest rate calculation %>
  <% ca_total = 0 %>
  <% current_user.bank_accounts.each do |bank_account| %>
    <% ca_total = ca_total + bank_account.amount*((1+(bank_account.interest_rate.to_f/100))**(future_age.to_i-current_user.age)) %>
  <% end %>  
  
  <% #calculate inflation %>
  <% inf = 1-((3/100.to_f)*(future_age.to_i-current_user.age)) %>

  <% #display future value total, before and after inflation %>
  Future value (not including inflation): <%= number_to_currency(ca_total+shares_total, :unit => "€") %>
  <br />
  Future value (including inflation): <%= number_to_currency((ca_total+shares_total)*inf, :unit => "€") %>
  <br /><br /><br />
  
  <%= form_tag overview_path, method: :put, id: 'slider_form' do %>
    <label for="overview_future_age">Age</label>
    <%= range_field(:overview, :future_age, 
       in: current_user.age..100,
       value: future_age,
       oninput: "outputUpdate(value)",
       step: 1
       )
    %>
    <output id="output_future_age"><%= future_age %></output>

    <%= submit_tag 'Set Age', :class => "btn btn-primary btn-md" %>
  <% end %>

  <br /><br /><br />

  <%= link_to 'Manage Bank Accounts', bank_accounts_path, :class => "btn btn-primary btn-md" %>
  <%= link_to 'Manage Investments', '#', :class => "btn btn-primary btn-md" %>
  <%= link_to 'Manage Shares', shares_path, :class => "btn btn-primary btn-md" %>
  <%= link_to 'Manage Pension', '#', :class => "btn btn-primary btn-md" %>  
</div>