<div class="booyah-box col-xs-10 col-xs-offset-1">
  Email Address: <%= @user.email %><br /><br />
  Member Since: <%= @user.created_at.strftime("%B %d, %Y") %><br /><br />
  Date of Birth: <%= @user.dob %><br /><br />
  Salary: <%= @user.salary %><br /><br />
  Bonus: <%= @user.bonus %><br /><br />
  Savings per Month: <%= @user.savings_per_month %>  
</div>