<div class="booyah-box col-xs-10 col-xs-offset-1"> 
  <h2>Total Amount: <%= number_to_currency(current_user.bank_accounts.sum("amount"), :unit => "€")%></h2>
</div>

<% @bank_accounts.each do |bank_account| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    Bank Account: <%= link_to bank_account.name, bank_account_path(bank_account) %><br /><br />
    Email Address: <%= bank_account.user.email %><br /><br />       
    Institution: <%= bank_account.institution %><br /><br />
    Account Type: <%= bank_account.account_type %><br /><br />
    Amount: <%= number_to_currency(bank_account.amount, :unit => "€") %><br /><br />
    Interest Rate: <%= bank_account.interest_rate %>%
  </div>  
<% end %>
<br class="clear" />

<div class="col-md-4 text-center">
  <%= link_to 'Add New Bank account', new_bank_account_path, :class => "btn btn-primary btn-md"  %>
</div>